<div class="row">
    <div class="col-2">
        <a href="/Project1/vendedor/Erika">Erika</a>
        <a href="/Project1/vendedor/Adal">Adal</a>
        <a href="/Project1/vendedor/Lorena">Lorena</a>
        <a href="/Project1">Home</a>
    </div>
</div>